.Valid{
    background-color: rgba(0, 128, 0, 0.363);
}
.InValid{
background-color: rgba(255, 0, 0, 0.384);
}
.ev-TextField-field {
    font-weight: 800;
    left: 0;
    padding: 7px;
    border: 1px solid white;
    border-radius: 0%;
    width: calc( 100% - 100px );
    outline: none !important;
}
.ev-TextField-field:hover, .ev-TextField-field:focus {
    padding: 7px;
    border: 1px solid rgb(51,51,51);
}
.ev-Button {
    width:84px;
    float:right;
    font-weight:800;
    right: 0;
    border: 0;
    padding: 7px 7px;

}
.ev-Button:hover {
    background-color: gainsboro;
}